In [2]:
#Get the dataset
import pandas as pd
df = pd.read_csv("new_rainfall.csv")
df.head(10)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Humidity,Prevalent_wind_direction
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,High,NE
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,High,SW
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,High,W
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,High,E
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,High,S
5,ANDAMAN & NICOBAR ISLANDS,1906,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,164.3,267.8,128.9,79.2,2534.4,High,W
6,ANDAMAN & NICOBAR ISLANDS,1907,110.7,0.0,113.3,21.6,616.3,305.2,443.9,377.6,200.4,264.4,648.9,245.6,3347.9,High,S
7,ANDAMAN & NICOBAR ISLANDS,1908,20.9,85.1,0.0,29.0,562.0,693.6,481.4,699.9,428.8,170.7,208.1,196.9,3576.4,High,E
8,ANDAMAN & NICOBAR ISLANDS,1910,26.6,22.7,206.3,89.3,224.5,472.7,264.3,337.4,626.6,208.2,267.3,153.5,2899.4,High,W
9,ANDAMAN & NICOBAR ISLANDS,1911,0.0,8.4,0.0,122.5,327.3,649.0,253.0,187.1,464.5,333.8,94.5,247.1,2687.2,High,NE

In [2]:
#Check number of missing values
df.isnull().sum()

SUBDIVISION                  0
YEAR                         0
JAN                          4
FEB                          3
MAR                          6
APR                          4
MAY                          3
JUN                          5
JUL                          7
AUG                          4
SEP                          6
OCT                          7
NOV                         11
DEC                         10
ANNUAL                      26
Humidity                     0
Prevalent_wind_direction     0
dtype: int64

In [4]:
#Generate missing values matrix
import numpy as np
nan_mat = np.random.random(df.iloc[:,2:].shape)<0.04
nan_mat.sum()

2455

In [5]:
#Add missing values
df1 = df.iloc[:,2:].mask(nan_mat)
dirty = pd.concat([df.iloc[:,:2],df1],axis = 1)
dirty.head(10)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Humidity,Prevalent_wind_direction
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,High,NE
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,High,SW
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,High,W
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,NaN,High,E
4,ANDAMAN & NICOBAR ISLANDS,1905,NaN,0.0,3.3,26.9,NaN,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,High,S
5,ANDAMAN & NICOBAR ISLANDS,1906,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,164.3,267.8,128.9,79.2,2534.4,High,W
6,ANDAMAN & NICOBAR ISLANDS,1907,110.7,0.0,113.3,21.6,616.3,305.2,443.9,377.6,NaN,264.4,648.9,245.6,3347.9,High,S
7,ANDAMAN & NICOBAR ISLANDS,1908,20.9,85.1,0.0,29.0,562.0,693.6,481.4,699.9,428.8,170.7,208.1,196.9,3576.4,High,E
8,ANDAMAN & NICOBAR ISLANDS,1910,26.6,22.7,206.3,89.3,224.5,472.7,264.3,337.4,626.6,208.2,NaN,153.5,2899.4,High,W
9,ANDAMAN & NICOBAR ISLANDS,1911,0.0,8.4,0.0,122.5,327.3,649.0,253.0,187.1,464.5,333.8,94.5,247.1,2687.2,High,NE

In [6]:
#Check number of missing values
dirty.isnull().sum()

SUBDIVISION                   0
YEAR                          0
JAN                         147
FEB                         167
MAR                         156
APR                         169
MAY                         156
JUN                         175
JUL                         191
AUG                         180
SEP                         166
OCT                         157
NOV                         169
DEC                         174
ANNUAL                      194
Humidity                    171
Prevalent_wind_direction    175
dtype: int64

In [75]:
# 4.1% missing values inserted

In [7]:
#Load missing values to a new file
dirty.to_csv("dirty_rainfall.csv")